.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
  padding: 1rem 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.summary h2 {
  color: #0a3847;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  word-wrap: break-word;
  margin: 0;
}

.amount {
  color: #0a3847;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0.5rem;
}

.price {
  color: #0a3847;
  font-size: 0.875rem;
  font-weight: 400;
  align-self: flex-end;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.actions svg {
  fill: #125fca;
  width: 36px;
  height: 36px;
  border: 1px solid #d7d7d7;
  padding: 5px;
}

@media (min-width: 768px) {
  /* .actions {
    flex-direction: row;
  } */
}
