.form {
  height: 75vh;
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
}

.wrapper h3 {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

.wrapper:nth-child(2) {
  margin-bottom: 0.5rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .form {
    height: auto;
    overflow-y: unset;
  }

  .form-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
