.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0a3847;
}

.info svg {
  width: 80px;
  fill: #0a3847;
}

.info h3 {
  margin: 0;
  padding: 0.5rem 0;
}
