.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0a3847;
}

.info svg {
  height: 64px;
  fill: #0a3847;
}

.info h3 {
  margin: 0;
  padding: 0.5rem 0;
}

@media (min-width: 481px) {
  .info svg {
    height: 80px;
  }
}
