.form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form button {
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  background-color: #125fca;
  border: #125fca;
  border-radius: 4px;
  height: 36px;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  transition: all 500ms;
}

.form button:hover,
.form button:active {
  background-color: #146eeb;
}

.disable {
  cursor: context-menu !important;
  background-color: #ebebeb !important;
  fill: #666666 !important;
  border: 1px solid #d7d7d7 !important;
}
